/*Definition des valeur des couleur */
$btnTxt: #fff; /* btnTxt */
$noire: #000;
$btnBackground: #2e2e2e; /* btnBackground*/
$headerSectionColor : #333;
$borderColor : #ccc; /*eaeaea*/
$emailInputColor: #f1f1f1;
$inputFieldBorder: #ccc; /* inputFieldBorder */
$shadowcolor: #888;
$lightGray: #888; /* lightGray */
$sectionEvenBg: #f7f7f7; /* sectionEvenBg */
$error:#f00; /* error */
$errorBar:#d81d1d; /* error */
$success: #44b73f; /* success */
$selectedRegionBg: #0192E3; /* selectedRegionBg */
$outreMerColor: #FEC901;
$cancelBtn: #c3c3c3;
$fontSizeMobile: 10px;
$screenSize: 1023px;